

.leariningone {
  background: #bfe1dc;
    color: white!important;
    margin: -8px -23px 15px;
   /* padding: 16px 16px 16px 2px;*/
       padding: 28px 17px 28px 2px;
    position: relative;
    z-index: 1;
    font-family: "Source Sans Pro", Verdana, Helvetica, sans;
    font-weight: 500;
    font-size: 1.1em;
    line-height: normal;
    width: 95%;
    overflow: hidden;   
}

.leariningone:after {
   content: "";
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 50px;
/*    background: rgba(0, 133, 116, 0.3)  url(../images/icon.svg) 37% 50% no-repeat;
*/    background-size: 40% auto;
    
}



.link-inline11{
  color: #008574;
  text-decoration: none;
   /* font-size: large;*/
       font-size: 1.4em;
  font-family: "Source Sans Pro", Verdana, Helvetica, sans;
}

.cap{
  color: rgba(0, 0, 0, 0.6);
}
/*.link-inline11:after {
  background: url(../images/icon-assessment-white.svg) 20% 10% no-repeat;
    content: "";
    position: absolute;
    left: 15px;
    top: 58%;
    margin-top: -21px;
    z-index: 1;
    background-size: 87% auto;
    width: 36px;
    height: 50px;
}
*/

