/* ==================== Math CSS ===================== */

.hiddenClass
{
	display:none;
}

.showClass
{
	margin-top: 2em;
	margin-bottom: 0.5em;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	text-align: center;
	display:block;
}