/*Amazon kindle fire*/

@media amzn-kf8{ 
	.small_device
	{   			
   		display: block;
	}
	.big_device
	{		
		display: none;
	}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2){
	.small_device
	{   			
   		display: none;
	}
	.big_device
	{
   		display: block;
	}
}

/*desktops */
@media only screen and (min-device-width: 1200px){
	.small_device
	{   			
   		display: none;
	}
	.big_device
	{
		display: block;
	}
}

/*desktops */
@media only screen and (min-device-width: 1024px){
	.small_device
	{   			
   		display: none;
	}
	.big_device
	{
   		display: block;
	}
}

/*for iphone 4, 4s */
@media only screen and (max-device-width: 480px) {
	.small_device
	{   			
   		display: block;
	}
	.big_device
	{		
   		display: none;
	}
}